Exercices/exo_dtd/livre.dtd

<!ELEMENT livres (livre+)>
<!ELEMENT livre (titre,auteur,genre+,date,origine,editeur,code)>
<!ATTLIST livre rang CDATA #REQUIRED>
<!ELEMENT titre (#PCDATA)>
<!ELEMENT auteur (#PCDATA)>
<!ELEMENT genre (#PCDATA)>
<!ELEMENT date (#PCDATA)>
<!ATTLIST date type CDATA #FIXED "parution">
<!ELEMENT origine (#PCDATA)>
<!ATTLIST origine type CDATA #REQUIRED>
<!ELEMENT editeur (#PCDATA)>
<!ELEMENT code (#PCDATA)>